
</body>
<footer>
  <a
  href="/about"
  class="nav-link <%= title === 'about' ? 'active' : '' %>"
  >
    about
  </a>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a
  href="/albums/new"
  class="nav-link <%= title === 'about' ? 'active' : '' %>"
  >
    contact
  </a>
    
</footer>
</html>