<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h2><%= title %></h2>

  <div style="margin: 0px 50px 0px 50px">
    <p>
      Are you a music lover?
    </p>
    <p>
      Do you still listen to albums all the way through, from front to back? 
    </p>
    <p>
      Have you ever had a real-life, hold-this-thing-in-your-hands music collection? (Vinyl? CD's? Tapes? Wax cylinders?)
    </p>
    <p>
      In an age dominated by music streaming services -- where musicians get paid pretty close to diddly-squat; where large corporations make decisions about their catalogs based on $$ over art; and where things move <span><i>SO FAST</i></span> that it becomes nearly impossible to hold on to good music long-term -- Shelver is here to help you! 
    </p>
    <p>
      At this early phase the goal is simple - add any album you like to the public shelf to make it accessible to any future user. (Think of it like doing a good deed for a future music-lover.) Then save any album into your personal collection - your Shelf - and you'll be able to curate your own library that you can always refer back to. No longer will those obscure albums be lost to time. There are many useful and exciting updates to come. Welcome and I hope you find this useful!
    </p>
    <p style="text-align: center; font-weight: bold;">
      <span>Artem tuam tene, quia corporationes tibi illam non retinent.</span>
    </p>

  </div>

</main>

<%- include('./partials/footer') %>
