<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h2><%= title %></h2>

  <div style="margin: 0px 50px 0px 50px; text-align: center;">
    <p>
      contact:
    </p>
    <p>
      rbozek (at) gmail
    </p>
    <p>
      will happily accept monetary donations or just some expressions of goodwill
    </p>

  </div>

</main>

<%- include('./partials/footer') %>
