html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url('../assets/background-vinylshelf-dark-1600-lq.png');
  background-position: top left;
  background-repeat: repeat-y;
  background-size: cover;
  /* opacity: 0.25; */
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;

  /* to keep footer at bottom of page (along with part of 'main' styling) */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > nav {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  align-items: center;  /* to vertically center: */
  padding: 5px 10px 5px 10px;
  min-height: 50px;
}
nav > .nav-link {
  text-decoration: none;
  color: #ffffff;
  margin: 0px;
}
nav > .nav-link:hover {
  background: rgb(3, 14, 217);
}
nav > .nav-link.active {
  color: rgb(217, 3, 3);
}
#logo-nav-link {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
#logo-nav-link:hover {
  text-decoration: inherit;
}
#google-button-div {
  margin-left: auto;
  padding: 0px;
}


main {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  min-width: 300px;
  border-radius: 20px;
  margin: 10px 30px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* to keep footer at bottom of page (along with part of 'body' styling) */
  flex: 1;
}


footer {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;  /* to vertically center: */
  padding: 5px 10px 5px 10px;
  min-height: 30px;

}

/* for google oauth divs */
.right {
  margin-left: auto;
}

form {
  /* for all forms */
}