html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}


body {
  background-image: url('../assets/background-vinylshelf-dark-1600-lq.png');
  background-position: top left;
  background-repeat: repeat-y;
  background-size: cover;
  color: #cccccc;
  /* Use a system font, if none are available use any found sans-serif font */
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  /* to keep footer at bottom of page (along with part of 'main' styling) */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body#landing-page { background-image: url('../assets/background-prevail-lq.png');
  background-position: bottom left;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 50px 0px 50px 0px;
}
main#landing-page {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  min-width: 300px;
  height: 200px;
  border-radius: 20px;
  margin: auto;
  padding: 50px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
}

body > nav {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  align-items: center;  /* to vertically center: */
  padding: 10px 10px 5px 10px;
  min-height: 50px;
}
nav > .nav-link {
  text-decoration: none;
  color: #ffffff;
  margin: 0px 5px;
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
nav > .nav-link:hover {
  background: #b98d47;
  color: #000000;
}
nav > .nav-link:active {
  background: #000000;
  color: #b98d47;
}
nav > .nav-link.active {
  background: #ffffff;
  color: #000000;
}
nav > .nav-link.active:hover {
  background: #b98d47;
  color: #000000;
}
nav > .nav-link.active:active {
  background: #000000;
  color: #b98d47;
  border: 2px solid #000000;
}
#logo-nav-link {
  text-decoration: none;
  margin: 0px 5px 0px 0px;
  padding: 0px;
  line-height: 1; /* Set line-height to 1 to remove extra spacing */
}
#logo-nav-link:hover {
  text-decoration: inherit;
}
#google-button-div {
  margin-left: auto;
  padding: 0px;
}

button {
  background: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #b98d47;
  color: #000000;
}
button:active {
  background: #000000;
  color: #b98d47;
  border: 2px solid #000000;
}

main {
  background: rgba(0, 0, 0, 0.7);
  min-width: 300px;
  border-radius: 20px;
  margin: 10px 30px;
  padding: 10px 8px 0px 8px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* to keep footer at bottom of page (along with part of 'body' styling) */
  flex: 1;
}

h1, h2, h3 {
  font-style: italic;
  font-weight: lighter;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  min-width: 200px; /* Set the width as needed */
  margin: 10px 0; /* Adjust top and bottom margins as needed */
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
}



footer {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;  /* to vertically center: */
  padding: 5px;
  min-height: 44px;
  max-height: 50px;
}
footer > .nav-link {
  text-decoration: none;
  color: #cccccc;
}
footer > .nav-link:hover {
  color: #b98d47;
  text-decoration: underline;
}
footer > .nav-link:active {
  color: #000000;
  text-decoration: underline;
}




/* for google oauth divs */
.right {
  margin-left: auto;
}

form {
  /* for all forms */
}