<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>rut roh!</h1>

  <div>something went wrong. but it's probably not your fault.<br>
  <a href="/albums"> Public Shelf</a>
  </div>


</main>

<%- include('../partials/footer') %>
