<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Shelver</h1>
  <h2>main library</h2>

  <div>testing some test</div>
  <a href="./error">testing error page 2</a>

</main>

<%- include('../partials/footer') %>
