<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Shelver</h1>
  <h2>main library</h2>

  <img
    id="shelver-logo"
    src="../partials/shelver-logo-60.png"
    alt="Logo"
  >

  <img
    id="shelver-logo"
    src="../../assets/shelver-logo-60.png"
    alt="Logo"
  >
  <img
  id="shelver-logo"
  src="../../assets/background-vinylshelf-lq-1600.png"
  alt="Logo"
>

  <img
    src="./background-vinylshelf-lq-1600.png"
    alt="image test same directory "
  >

  <img
    src="./assets/background-vinylshelf-lq-1600.png"
    alt="image test assets directory"
  >


</main>

<%- include('../partials/footer') %>
