<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>

  <form id="form-temp-name" action="/albums" method="POST">

    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input" value="">
    <br>
    <label for="artist-input">Artist:</label>
    <input type="text" name="artist" id="artist-input" value="">
    <br>
    <label for="year-input">Year of Release:</label>
    <input type="text" name="releaseYear" id="year-input" value="">
    <br>
    <label for="label-input">Record Label:</label>
    <input type="text" name="recordLabel" id="label-input" value="">
    <br>
    <button type="submit">Add Album</button>
  </form>


</main>

<%- include('../partials/footer') %>
