<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <br>
  <form id="form-temp-name" action="/albums" method="POST">
    <input type="text" name="title" id="title-input" placeholder="Album Title (required)">
    <br>
    <input type="text" name="artist" id="artist-input" placeholder="Album Artist (required)">
    <br>
    <input type="text" name="releaseYear" id="year-input" placeholder="Year of Release">
    <br>
    <input type="text" name="recordLabel" id="label-input" placeholder="Record Label">
    <br>
    <button type="submit">Add it!</button>
  </form>

</main>

<%- include('../partials/footer') %>
